.main {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding-top: 10px;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.fixedNav {
  /* position: fixed; */
  width: 100%;
  z-index: 1000;
  padding: 0px;
  border-radius: 0px;
  /* background-color: rgb(255, 255, 255); */
  justify-content: space-between;
  /* box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); */
}

.divLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* padding-top: 35px; */
}

.divLinks a {
  padding: 0 15px;
  text-decoration: none;
  color: #008d46;
  font-size: 1.2em;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  transition: color 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.divLinks a:hover {
  /* border-color: #2b8e42;
  transition: border-color 0.2s; */
  border-bottom-color: #fff;
}

.leftLinks {
  /* position: absolute;
  top: 30px;
  right: 30px; */
  /* background-color: #007378; */
  /* border-radius: 30px; */
  margin-left: auto;
  display: flex;
  align-items: center;
  /* padding: 10px; */
}

.leftLinks a {
  margin: 0 15px;
  text-decoration: none;
  color: #000;
  font-size: 1em;
  font-weight: bold;
  /* border-bottom: 2px solid transparent; */
  transition: color 0.2s;
}

.leftLinks a:hover {
  /* border-color: #2b8e42;
  transition: border-color 0.2s; */
  border-bottom-color: #fff;
}

/*logo*/

.logoContainer {
  margin-right: 5px;
  @media screen and (max-width: 768px) {
    .divLinks {
      display: none;
    }

    .leftLinks {
      display: none;
    }

    .hamburgerBtn {
      display: block;
    }
  }

  @media screen and (max-width: 768px) {
    .divLinks {
      display: none;
    }

    .leftLinks {
      display: none;
    }

    .hamburgerBtn {
      display: block;
    }
  }
}

/* @media screen and (max-width: 768px) {
  .leftLinks {
    top: auto;
    bottom: 10px;
    right: 50%;
    transform: translateX(50%);
  }
} */

/* logout button*/

.logoutButton {
  background-color: #007378;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 1em;
  font-weight: bold;
}

.logoutButton:hover {
  background-color: #005053;
  color: #fff;
}

.inputField {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submitButton {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  text-align: center;
  padding-top: 20px;
}

.heading {
  text-align: center;
  font-size: 24px;
  /* margin: 0 auto; */
  margin-bottom: 20px;
  /* padding: 20px; */
  font-weight: bold;
  color: #02532e;
  /* max-width: 800px; */
}

.centeredText {
  text-align: left;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  padding-top: 200px;
}

/* recipes */
.recipeContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  padding: 20px;
}

.recipeBox {
  text-align: center;
  display: block;
  text-decoration: none;
  color: inherit;
}

/* .recipeBox:hover {
  border: 1px solid #0070f3;
} */

.recipeBox img {
  width: 80%;
  height: auto;
}

.recipeBox h3 {
  margin-top: 10px;
}

.recipeCard {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.recipeCard:hover {
  transform: scale(1.05);
}

/* single recipes */

.singleRecipeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centeredHeading {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.singleRecipeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* hero styling */
.heroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  position: relative;
  width: 100%;
  height: 60vh;
  /* margin-left: -20px; */
  overflow: hidden;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.heroText {
  position: absolute;
  top: 50%;
  left: 50%;
  /* padding-top: 50px; */

  transform: translate(-50%, -50%);
  text-align: center;
  color: #005053;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

.heroText h1 {
  font-size: 3.5em;
  font-weight: bold;
}

.sectionTitle {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.sectionContent {
  font-size: 1.2em;
  line-height: 1.5;
}

/* create and discover section*/

.createSection,
.discoverSection {
  width: 100%;
  margin: 15px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.createSection {
  background-color: #f8d7da;
}

.discoverSection {
  background-color: #d4edda;
}

.createSection h2,
.discoverSection h2 {
  font-size: 2em;
  color: #721c24;
}

.createSection p,
.discoverSection p {
  font-size: 1.2em;
  color: #721c24;
}

/* hamburger*/

.mobileLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.mobileLinks a {
  margin: 10px;
  text-decoration: none;
  font-size: 1.2em;
  color: #fff;
  transition: color 0.3s;
}

.mobileLinks a:hover {
  color: #ffd700;
}

/* Hamburger button styling */

.hamburgerBtn {
  font-size: 1.5em;
  cursor: pointer;
  color: #005053;
  margin-right: 15px;
  /* display: none; */
}
